<#@ template debug="false" hostspecific="true" language="C#v3.5" #>
<# 
	GenerationParams.GenConcreteFactory factory = ((pindwin.umvr.Editor.Generation.UMVRTemplateGenerator)Host).Settings.GenConcreteFactory;
#>
namespace <#= factory.Namespace #>
{
	<#= factory.ToPartialDeclarationString() #>
	{ }
}