<#@ template debug="false" hostspecific="true" language="C#v3.5" #>
<# 
	GenerationParams.GenRepository repository = ((pindwin.umvr.Editor.Generation.UMVRTemplateGenerator)Host).Settings.GenRepository;
#>
namespace <#= repository.Namespace #>
{
	public partial class <#= repository.Type #>
	{ }
}